
papers/short-paper-edbt/edbt-short-paper.synctex.gz

papers/short-paper-edbt/edbt-short-paper.bbl

papers/short-paper-edbt/edbt-short-paper.blg

*.pdf

papers/short-paper-edbt/.project

*.aux

*.log
