# Virtual Env File
venv/
full-paper-gig_approach-adbis2018/main.aux
full-paper-gig_approach-adbis2018/main.bbl
full-paper-gig_approach-adbis2018/main.blg
full-paper-gig_approach-adbis2018/main.dvi
full-paper-gig_approach-adbis2018/main.log
full-paper-gig_approach-adbis2018/main.pdf
full-paper-gig_approach-adbis2018/main.synctex.gz
